@model ETend.Models.ViewModels.DriverVM

<form method="post" asp-action="Upsert">
    <input asp-for="Driver.Id" hidden />

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2 class="text-primary">@(Model.Driver.Id != 0 ? "Update" : "Create")  Driver</h2>
                    <hr />
                </div>
                @*<div asp-validation-summary="All"></div>*@
                <div class="mb-3 col-10">
                    <label asp-for="Driver.VehicleId"></label>
                    <select asp-for="Driver.VehicleId" asp-items="@Model.VehicleList" class="form-select">
                        <option disabled selected>--Select Area--</option>
                    </select>
                    <span asp-validation-for="Driver.VehicleId" class="text-danger"></span>
                </div>
                <div class="mb-3 col-10">
                    <label asp-for="Driver.DriverName"></label>
                    <input asp-for="Driver.DriverName" class="form-control" />
                    <span asp-validation-for="Driver.DriverName" class="text-danger"></span>
                </div>
                <div class="mb-3 col-10">
                    <label asp-for="Driver.Email"></label>
                    <input asp-for="Driver.Email" class="form-control" />
                    <span asp-validation-for="Driver.Email" class="text-danger"></span>
                </div>
                <div class="mb-3 col-10">
                    <label asp-for="Driver.PhoneNo"></label>
                    <input asp-for="Driver.PhoneNo" class="form-control" />
                    <span asp-validation-for="Driver.PhoneNo" class="text-danger"></span>
                </div>

                <div class="col-12">
                    @if (Model.Driver.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
                    }
                    <a asp-controller="Driver" asp-action="Index" class="btn btn-secondary" style="width:150px">
                        Back to List
                    </a>
                </div>

            </div>
        </div>
    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}